/* Custom color theme properties */
:root {
  --f7-theme-color: #26bf2c;
  --f7-theme-color-rgb: 38, 191, 44;
  --f7-theme-color-shade: #1f9d24;
  --f7-theme-color-tint: #37d73d;
}

/* Your app custom styles here */